@charset "euc-kr";
/* NHN Services Webstandard Development Team YHS 091207 */

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
#wrap{position:relative;width:960px;margin:0 auto;text-align:left;z-index:20}
#header{position:relative;z-index:100;width:960px;font-family:'돋움', Dotum, '굴림', Gulim, AppleGothic, Sans-serif;font-size:12px;line-height:14px}
#header .sta *{margin:0;padding:0;line-height:14px}
#header .sta{position:relative;z-index:200;width:100%;height:42px;*height:60px;margin:0 auto;padding-top:18px}
.varo #header .sta{*height:38px}
#header .sta img,#snb_wrap fieldset{border:none}
#header .sta legend{display:none}
#header .sta li{list-style:none}
#header .sta:after{display:block;clear:both;content:""}
#header .sta h1{_display:inline;float:left;margin:0 15px 0 8px;*margin:0 12px 0 8px;font-size:0}
.varo #header .sta h1{*margin:0 15px 0 11px}
#header .sta h1 a{display:block;float:left;margin:0 1px 0 0}
#header .sta a{color:#646464;text-decoration:none}
#header .sta .snb_search_box{position:relative;z-index:20;width:520px;padding-right:1px;text-align:left}
#header .sta .snb_search_box .snb_search_box_sub{float:left;margin-right:4px;border:3px solid #3eaf0e}
.varo #header .sta .snb_search_box .snb_search_box_sub{*margin-right:4px}
#header .sta .snb_search_box .snb_search_text{float:left;width:209px;height:19px;margin-right:4px;*margin-right:1px;padding:3px 0 0 6px;*padding:4px 0 0 7px;border:0;color:#000;font:12px "돋움", Dotum, AppleGothic, sans-serif}
.varo #header .sta .snb_search_box .snb_search_text{width:263px;height:15px}
#header .sta .snb_search_box .snb_default{color:#a9a9a9;-webkit-appearance:none;-webkit-border-radius:0}
#header .sta .snb_search_box .btn_search{margin:0 -1px;font-size:0;zoom:1}
#header .sta .snb_search_box .btn_arrow{float:left}
#header .sta .snb_search_box .btn_arrow img{vertical-align:top}
#header .sta .snb_search_box .auto_area{position:absolute;top:22px;left:0;z-index:200}
#header #menu{clear:both;position:relative;height:77px;background:url(http://static.naver.net/nfinance/bg_lnb.gif) no-repeat}
#header #menu ul.menu{display:inline;float:left}
#header #menu ul.menu li{display:inline;float:left;padding-left:2px;background:url(http://static.naver.net/nfinance/bg_menu_bar.gif) no-repeat 0 13px;vertical-align:top}
#header #menu ul.menu li.first{padding:0;background:none}
#header #menu ul.menu li.on{position:relative;z-index:10;margin-right:-2px;padding:0}
#header #menu ul.menu li ul.sub_menu{position:absolute;top:38px;left:-222px;width:505px}
#header #menu ul.menu li ul.sub_fund{left:-298px;width:579px}
#header #menu ul.menu li ul.sub_menu li{padding-left:1px;background:url(http://static.naver.net/nfinance/bg_menu_bar2.gif) no-repeat 0 13px}
#header #menu ul.menu li ul.sub_menu li.on{position:relative;margin-right:-1px;padding:0;background:none;border:1px solid #536394;border-width:0 1px}
#header #menu ul.menu li ul.sub_menu li.first{background:none}
#header #menu ul.menu li ul.sub_menu li iframe{display:block;position:absolute;top:-9999px;left:-1px;z-index:10}
#header #menu ul.menu li ul.sub_menu li.on iframe{display:block;top:38px}
#header #menu ul a{display:block}
#header #menu ul a img{vertical-align:top}
.wrap{width:400px;padding-top:1px;background:#fff url(http://static.naver.net/nfinance/bg_atcmp.gif) 0 0 no-repeat;line-height:1.5em;text-align:left}
.mystock{width:308px;background-image:none}
.wrap_in{border:1px solid #888d95;border-top:0}
.mystock .wrap_in{border:1px solid #888d95}
.words{overflow:hidden;width:100%;padding-bottom:2px;background:url(http://static.naver.net/nfinance/bg_atcmp2.gif) repeat-y;font-family:'굴림', Gulim, AppleGothic, Sans-serif}
.words em{color:#f86d1a}
.words .tit{padding:8px 0 7px 11px;border-top:1px solid #ecedef;border-bottom:1px solid #ecedef;background:#fbfbfc;font-size:0;claer:both}
.words ul{overflow:hidden;margin:2px 0 1px}
.words ul.other{padding-top:2px;border-top:1px solid #e1e1e1}
.words li{vertical-align:top}
.words li a{display:block;width:100%;padding:4px 0 1px;color:#010101;text-decoration:none;cursor:pointer}
.words li a:hover{text-decoration:none}
.words li strong{color:#f76d1a;font-weight:normal}
.words li.atcmp_on a{background-color:#f6f6f6}
.words li a span{display:inline-block;width:258px;vertical-align:top}
.mystock .words li a span{width:191px;_width:193px}
.words li a span.num{width:54px;margin-left:10px;color:#666}
.mystock .words li a span.num{width:48px;_width:46px}
.words li a span.type{width:62px;margin-left:-5px;color:#666;text-align:right}
.mystock .words li a span.type{width:42px}
.msg{padding:16px 9px 13px 10px;background:#fff;color:#666}
.func{overflow:hidden;clear:both;width:100%;padding:8px 0 6px;background:url(http://static.naver.net/nfinance/bg_atcmp_line.gif) repeat-x;color:#cecece;font:11px 돋움,Dotum;letter-spacing:-1px}
.func span{float:right;padding-right:10px}
.func a{margin:0 3px;color:#a1a2a5}
.func .bar{display:inline-block;margin:0 7px 0 6px}
.func .run_view{float:left;padding-left:8px;color:#a1a2a5;text-align:left}
.help{position:absolute}
body.sub_menu{text-align:left}
body.sub_menu .section_menu{border-bottom:2px solid #ebebeb}
body.sub_menu .section_menu .bg_sub{overflow:hidden;_width:100%;border:1px solid #536394;background-color:#fff}
body.sub_menu .section_menu .bg_line{display:block;position:absolute;top:0;left:1px;height:1px;background:#fff url(http://static.naver.net/nfinance/bg_menu_line.gif) no-repeat 100% 0;font-size:0;line-height:0}
body.sub_menu .section_menu .exchange{width:62px}
body.sub_menu .section_menu .oil{width:63px}
body.sub_menu .section_menu .gold{width:73px}
body.sub_menu .section_menu .rate{width:62px}
body.sub_menu .section_menu .metal{width:78px}
body.sub_menu .section_menu .country{width:82px}
body.sub_menu .section_menu .type{width:93px}
body.sub_menu .section_menu .etc{width:64px}
body.sub_menu .group_menu{overflow:hidden;_width:100%;padding:0 0 18px 16px}
body.sub_menu .group_menu.group_etc{padding:0 0 14px 16px !important}
body.sub_menu .group_menu .exchange_area{float:left;width:91px;margin-top:-1px}
body.sub_menu .group_menu .menu_list{margin-top:4px}
body.sub_menu .group_menu .menu_list li{line-height:20px}
body.sub_menu .group_menu .menu_list li a{color:#444}
body.sub_menu .group_menu .menu_list li a strong{color:#218d44;letter-spacing:-1px}
body.sub_menu .group_exchange{float:left;width:217px;_width:218px;border-left:1px solid #ededed}
body.sub_menu .no_line{width:217px;border-left:0}
body.sub_menu h1{color:#222;font-size:11px;letter-spacing:-1px;line-height:14px}
body.sub_menu .group_exchange h1{height:35px;border-bottom:1px solid #ededed;background:url(http://static.naver.net/nfinance/h_home.gif) no-repeat;font-size:12px}
body.sub_menu .group_exchange h1.h_exchange{background-position:0 -850px;cursor:pointer}
body.sub_menu .group_exchange h1.h_exchange2{background-position:0 -900px;cursor:pointer}
body.sub_menu .group_exchange h1 span{position:relative;z-index:-1}
body.sub_menu .group_exchange h2{margin-top:14px;color:#444;font-size:11px;letter-spacing:-1px}
body.sub_menu .group_exchange .menu_list{margin-top:10px}
body.sub_menu .group_exchange .group_menu{height:339px;padding-bottom:0}
body.sub_menu .no_line .menu_list{margin-top:4px}
body.sub_menu .group_menu .oil_area{float:left}
body.sub_menu .group_menu .oil_first{width:91px}
body.sub_menu .group_menu .oil_area h1{margin-top:13px}
body.sub_menu .group_menu .gold_area h1{margin-top:13px}
body.sub_menu .group_menu .gold_area .menu_list li{float:left;width:68px}
body.sub_menu .group_menu .etc_area{padding-top:7px}
body.sub_menu .group_menu .rate_area{float:left}
body.sub_menu .group_menu .rate_area .btn_more{display:inline-block;margin:3px 0 0;padding-left:11px;background:url(http://static.naver.net/nfinance/bu_more2.gif) no-repeat 0 1px;color:#757575;font-size:11px;letter-spacing:-1px;text-decoration:underline}
body.sub_menu .group_menu .rate_area .btn_more strong{color:#ff5a00}
body.sub_menu .group_menu .rate_mid{width:136px}
body.sub_menu .group_menu .rate_area h1{margin-top:13px}
body.sub_menu .group_menu .rate_area .group_rate{width:123px}
body.sub_menu .group_menu .metal_area{float:left}
body.sub_menu .group_menu .metal_area h1{margin-top:13px}
body.sub_menu .group_menu .metal_area .group_metal{width:103px}
body.sub_menu .menu_btm{height:29px;padding-right:11px;border-top:1px solid #e4e4e4;background-color:#f7f7f7;text-align:right}
body.sub_menu .menu_btm a{display:inline-block;margin-top:8px;padding-left:10px;background:url(http://static.naver.net/nfinance/ico_plus.gif) no-repeat 0 2px;color:#757575;font-size:11px;letter-spacing:-1px;line-height:14px}
body.sub_menu .menu_btm a strong{color:#ff5a00}
body.sub_menu .section_top p{margin-top:-1px;padding:14px 0 10px 16px;border-top:1px solid #ededed}
body.sub_menu .section_top a{padding-right:6px;background:url(http://static.naver.net/nfinance/bu_arr3.gif) no-repeat 100% 3px;color:#218d44;letter-spacing:-1px}
body.sub_menu .section_top .bar{margin:0 2px;color:#e9e9e9}
body.sub_menu .country_wrap{overflow:hidden;_width:100%;margin-top:-13px;padding:0 0 15px 15px}
body.sub_menu .country_wrap .country1{float:left;width:102px}
body.sub_menu .country_wrap .country2{float:left;width:105px}
body.sub_menu .country_wrap .country3{float:left;width:110px}
body.sub_menu .country_wrap .foreign1{float:left;width:132px}
body.sub_menu .country_wrap .foreign2{float:left;width:131px}
body.sub_menu .country_wrap .foreign3{float:left;width:129px}
body.sub_menu .country_wrap h1{margin-top:12px}
body.sub_menu .country_wrap .menu_list{margin-top:3px}
body.sub_menu .country_wrap .menu_list li{line-height:20px}
body.sub_menu .country_wrap .menu_list li a{color:#444}
body.sub_menu .country_wrap .menu_list li a strong{color:#218d44;letter-spacing:-1px}
body.sub_menu .country_wrap .btn_more{display:inline-block;margin:4px 0 6px;padding-left:11px;background:url(http://static.naver.net/nfinance/bu_more2.gif) no-repeat 0 1px;color:#757575;font-size:11px;letter-spacing:-1px;text-decoration:underline}
body.sub_menu .theme_wrap{overflow:hidden;_width:100%;padding:8px 5px 10px 17px}
body.sub_menu .theme_wrap table td{padding:4px 16px 0 0;white-space:nowrap}
body.sub_menu .theme_wrap table td a{color:#444}
body.sub_menu .type_wrap{overflow:hidden;_width:100%;padding:11px 0 14px 17px}
body.sub_menu .type_wrap .menu_list li{line-height:20px}
body.sub_menu .type_wrap .menu_list li a{color:#444}
#header #menu .etc{position:absolute;top:6px;right:6px}
#header #menu ul.etc li{float:left}
#header #search{position:absolute;top:99px;left:0;width:960px;height:36px}
#header #search p{float:left;margin-top:11px;_margin-top:12px;padding-left:17px}
#header #search p img{position:relative;margin:-1px 0 1px;_margin:-2px 0 2px;vertical-align:middle}
#header #search p span{font-size:11px;letter-spacing:-1px}
#header #search p span a{color:#434343}

/* 인기토론실 추가 */
#header #search .debate{margin:12px 0 0 2px; overflow:hidden;zoom:1}
#header #search .debate .de_title{float:left;background:url(http://imgfinance.naver.net/finance/ico_indebate.gif) no-repeat;width:51px;height:11px;margin-top:3px;display:inline}
#header #search .debate ul{width:960px;height:17px;line-height:1.4;float:left;zoom:1;margin-left:13px;display:inline}
#header #search .debate ul li{float:left;margin-right:22px;font-size:12px;font-family:Dotum}
#header #search .debate ul li a, #header #search .debate ul li a:visited{color:#2f3743}
#header #search .debate ul li a{padding-left:7px;background:url(http://static.naver.net/nfinance/2012/bu_larrow.png) 0 3px no-repeat}
#header #search .debate .btnde_prev{float:left;display:inline;background:url(http://imgfinance.naver.net/finance/sp_dearrow.gif) no-repeat;width:14px;height:13px;margin:2px 0 0 1px}
#header #search .debate .btnde_next{float:left;display:inline;background:url(http://imgfinance.naver.net/finance/sp_dearrow.gif) -16px 0 no-repeat;width:14px;height:13px;margin:2px 0 0 2px}

/* 인기토론실 추가 */
#header #search .bx_live{position:absolute;top:8px;right:0;width:320px;padding-top:3px;font-size:11px;text-align:right}
#header #search .bx_live a{display:inline-block;color:#464646;text-decoration:none}
#header #search .bx_live .txt_type{margin-right:1px;color:#777}
#header #search .bx_live .index{margin:0 4px 0 1px;font-family:tahoma;font-size:11px}
#header #search .bx_live .up{color:#d71c19}
#header #search .bx_live .down{color:#005dde}
#header #search .bx_live .status{margin-right:3px;font-family:tahoma}
#header #search .bx_live .status img{margin:-1px 2px 1px 0;_margin:1px 2px -1px 0}
#header #search .bx_live .status em.bu_p{margin:-1px 2px 1px 0;_margin:1px 2px -1px 0}
#header #search .bx_live .date{margin:0 0 0 3px;color:#777;font-family:tahoma;font-size:9px}
#header #search .bx_live .date img{margin:0}
#header #search .bx_live img{margin:-1px 0 1px;_margin:1px 0 -1px;vertical-align:middle}
#header #search .bx_live em.bu_p{margin:-1px 0 1px;_margin:1px 0 -1px;vertical-align:middle}
#header #search .bx_live .txt_end{margin:-1px 3px 1px 4px}
#header #search .bx_live em.txt{display:inline-block;width:25px;height:9px;margin:-1px 3px 1px 4px;background:url(http://static.naver.net/nfinance/img2/spr_txt.gif) no-repeat;vertical-align:middle}
#header #search .bx_live em.spr_default{background-position:0 0}
#header #search .bx_live em.spr_ing{background-position:0 -20px}
#header #search .bx_live em.spr_end{width:26px;background-position:0 -40px}
#header #search .bx_live em.spr_jonga{width:26px;background-position:0 -60px}
#header #search .bx_live em.spr_before{width:26px;background-position:0 -80px}
#header #search .bx_live .btn_set img{position:relative;margin:-2px 0 2px}


#header #search .lnb2{position:absolute;top:-2px;*top:-1px;width:100%;}
#header #search .lnb2 li{display:inline-block;float:left;height:38px;margin-left:-1px;padding-top:1px;z-index:20;background:url(http://static.naver.net/nfinance/bg_menu_bar2.gif) no-repeat 0px 14px}
#header #search .lnb2 li a span.mystock{width:99px;background-position:18px -287px}
#header #search .lnb2 li a span.myfund{width:91px;background-position:18px -327px}
#header #search .lnb2 li a span.recentfund{width:116px;background-position:18px -367px}
#header #search .lnb2 li a span{display:block;overflow:hidden;height:38px;background:url(http://static.naver.net/nfinance/img3/spr_lnb3.gif) no-repeat;line-height:999px;vertical-align:top;cursor:pointer}

/* 110822 서브 LNB 추가 */
/* STOCKSUS-4586 삭제
#header #search .lnb2{position:absolute;top:-2px;*top:-1px;width:100%;}
#header #search .lnb2 li{display:inline-block;float:left;height:38px;margin-left:-1px;padding-top:1px;z-index:20;background:url(http://static.naver.net/nfinance/bg_menu_bar2.gif) no-repeat 0px 14px}
#header #search .lnb2 li.on{position:relative;z-index:30;border-top:1px solid #536394;border-right:1px solid #536394;border-left:1px solid #536394}
#header #search .lnb2 li.on a{display:inline-block;_display:inline;position:relative;z-index:20;background-color:#fff}
#header #search .lnb2 li.frst{margin-left:0;background:none}
#header #search .lnb2 li a span{display:block;overflow:hidden;height:38px;background:url(http://static.naver.net/nfinance/img3/spr_lnb3.gif) no-repeat;line-height:999px;vertical-align:top;cursor:pointer}
#header #search .lnb2 li a span.news{width:100px;background-position:18px 14px}
#header #search .lnb2 li a span.status{width:83px;background-position:18px -26px}
#header #search .lnb2 li a span.america{width:81px;background-position:18px -66px}
#header #search .lnb2 li a span.asia{width:72px;background-position:18px -106px}
#header #search .lnb2 li a span.europe{width:60px;background-position:18px -146px}
#header #search .lnb2 li a span.guide{width:91px;background-position:18px -186px}
#header #search .lnb2 li a span.mystock{width:99px;background-position:18px -287px}
#header #search .lnb2 li a span.myfund{width:91px;background-position:18px -327px}
#header #search .lnb2 li a span.recentfund{width:116px;background-position:18px -367px}
#header #search .lnb2 li.on a span.america{background-position:-102px -66px}
#header #search .lnb2 li.on a span.asia{background-position:-102px -106px}
#header #search .lnb2 li.on a span.europe{background-position:-102px -146px}
#header #search .lnb2 li.on a span.guide{background-position:-102px -186px}
#header #search .lnb2 li.on a span{height:40px;margin:-1px -1px 0 -1px;padding:0}
#header #search .lnb2 li div{position:absolute;top:-9999em;left:0;border:1px solid #536394}
#header #search .lnb2 li.on div{top:38px;left:-1px;padding:10px 0 7px 16px;z-index:10;background:#fff}
#header #search .lnb2 li dl{padding-bottom:10px;line-height:20px;zoom:1}
#header #search .lnb2 li dl:after{display:block;clear:both;content:''}
#header #search .lnb2 li dt{font-size:11px;font-weight:bold;color:#222;letter-spacing:-1px}
#header #search .lnb2 li dd a{color:#444}
#header #search .lnb2 li div.america{width:262px;_width:280px}
#header #search .lnb2 li dl.usa{float:left;width:118px;margin-right:9px}
#header #search .lnb2 li dl.america{float:left;width:132px}
#header #search .lnb2 li div.asia{width:272px}
#header #search .lnb2 li div.asia dl{float:left;width:127px}
#header #search .lnb2 li div.europe{width:254px}
#header #search .lnb2 li dl.europe dd{float:left;width:109px}
#header #search .lnb2 li dl.guide{float:left}
#header #search .lnb2 li dl.guide dt{display:none}
#header #search .lnb2 li dl.guide dd{width:108px}
*/
.layer_setstock{display:none;position:absolute;top:36px;right:0;z-index:1000;width:238px;_width:260px;padding:9px 9px 0;border:2px solid #5f79ad;background:#fff}
.layer_setstock h4{position:absolute;top:-10000px;left:-10000px;width:0;height:0;font-size:0;line-height:0}
.layer_setstock table,.layer_setstock td{border:0;vertical-align:top}
.layer_setstock td{height:18px;padding:0;line-height:14px;white-space:nowrap}
.layer_setstock td.chk_area{padding:0;vertical-align:middle}
.layer_setstock td .chk{*width:13px;*height:17px;margin:-2px 0 2px 0;vertical-align:middle}
.layer_setstock td.stock_type{padding:1px 0 0;color:#464646;font-family:'돋움',Dotum;font-size:11px}
.layer_setstock td.stock_type a,.layer_setstock td.stock_type a:visited,.layer_setstock td.stock_type a:hover,.layer_setstock td.stock_type a:active{color:#464646}

/* 모바일 버전으로 보기 */
#footer .gomobile{clear:both;padding-top:50px}

/* 공용 UIO : 등락표시 불릿 */
.bu_p{display:inline-block !important;background:url(http://static.naver.net/nfinance/img/spr_bu.gif) no-repeat}
.bu_pup{width:7px !important;height:6px !important}
.bu_pup2{width:7px !important;height:11px !important;background-position:0 -40px}
.bu_pup3{width:6px !important;height:7px !important;background-position:0 -520px}
.bu_pdn{width:7px !important;height:6px !important;background-position:0 -80px}
.bu_pdn2{width:7px !important;height:11px !important;background-position:0 -120px}
.bu_pdn3{width:6px !important;height:7px !important;background-position:0 -540px}
.bu_pn{width:10px !important;height:6px !important;background-position:0 -158px}
.bu_pn2{width:6px !important;height:7px !important;background-position:0 -560px}
.btn_more em{display:inline-block;background:url(http://static.naver.net/nfinance/2012/spr_btn2.gif) no-repeat;cursor:pointer}
.btn_more em.btn_more{width:34px;height:18px;background-position:0 0}
.btn_more em.btn_more4{width:38px;height:15px;background-position:0 -90px}
.btn_more em.btn_more5{display:inline-block !important;width:33px;height:10px;background-position:0 -120px;color:#777}
.bx_live .bu_pdn3{width:7px !important;background-position:0 -80px}
.bx_live .bu_pup3{width:7px !important;background-position:0 0}
.bx_live .bu_pn2{width:7px !important;background-position:0 -158px}

/* 공통GNB */
#gnb_area{position:absolute;top:15px;right:5px;z-index:2147483646}
